.galleria {
  height: 100vh;
}

/* img{
    max-width: 20vw;
    max-height: 10 vh;
} */
html {
  overflow-x: hidden;
}

.content {
  max-width: 807px;
  margin: 20px auto 0;
  min-height: 90vh;
}

.nav-link {
  width: 170px;
  height: 55px;
  padding-top: 13px;
  border-radius: 30px;
  border: solid 1px #686868;
  text-align: center;
  text-transform: uppercase;
}

.navbar-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer {
  background-color: #ff8181;
  width: 100%;
  height: 71px;
  bottom: 0;
  left: 0;
  /* margin-top: 5vh; */
}

.disclaimer {
  text-align: right;
  font-size: 12px;
}

textarea {
  width: 100%;
}

input,
.form-control,
.form-select,
textarea {
  border-radius: 15px;
  padding: 10px;
  border: solid 1px #999999;
  resize: none;
}

#ordenarComision {
  width: 327px;
  height: 48px;
  border-radius: 15px;
  color: #ffffff;
  background-color: #ff8181;
}

.btn-close {
  position: absolute;
  top: 3px;
  right: 3px;
}

#botonOrdenar {
  width: 198px;
  height: 18px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.75;
  letter-spacing: 1.6px;
  text-align: center;
  color: #ffffff;
  width: 327px;
  height: 48px;
  border-radius: 15px;
  background-color: #ff8181;
}

.btn-pink {
  display: block;
  width: 327px;
  height: 48px;
  border-radius: 15px;
  background-color: #ff8181;
  color: white;
  text-align: center;
}

.inicia {
  width: 442px;
  height: 31px;
  font-family: Gotham;
  font-size: 28px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.43;
  letter-spacing: normal;
  text-align: center;
  color: #ff8181;
}

.kanban {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: 0 auto 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 90vh;
  /* padding-bottom: 2vh; */
}

.kanban-section {
  width: 365px;
  height: 696px;
  padding: 21px  14px;
  border-radius: 10px;
  background-color: #efefef;
  overflow-y: auto;
}

.kanban-section h2 {
  font-family: Gotham;
  font-size: 20px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.6;
  letter-spacing: normal;
  text-align: left;
  color: #686868;
}

.activas {
  max-width: 807px;
  margin: 20px auto 0;
}

.kanban-item {
  width: 90%;
  height: 65px;
  margin: 18px auto;
  padding: 14px 12px 13px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.kanban-item .status {
  height: 9px;
  border-radius: 3px;
}

.admin-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 10vh;
}

.admin-menu {
  min-width: 20%;
  background-color: hsl(0, 0%, 37%);
  padding: 5vh;
  color:white;
}

.admin-main > .kanban {
  overflow-x: scroll;
  margin: 0 0 0 !important;
  width: 80vw;
  padding-right: 4vw;
}

.admin-main .kanban-section {
  min-width: 25vw;
  margin: 0 5vw;
}

.admin-title{
	margin: 5vh 5vw;
	color: #ff8181;
	font-family: Gotham;
}

.admin-main{
	padding-bottom: 5vh;
}

/*# sourceMappingURL=style.css.map */